.container{
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-color: blueviolet;
    background-image: url(./assets/code.jpg);
    background-position: center center;
    margin: 5px;
    /* justify-content:space-around; */
}
/* h1{
    display: flex;
    align-items: center;
    color: rgb(165, 15, 15);
    margin: 20px;
    font-size: 30px;
}
.photo-container{
    display: flex;
    flex-direction:column;
    background-color: coral;
    padding: 20px;
}
img{
    height: 100px;
    width: 100px;
    border: darkblue;
    border-radius: 23px;
padding: 5px;
margin: 0px;
background-color: darkgoldenrod;
} */

img{
/* height: 500px; 
width: 500px; */
display: flex;
background-size: cover;
align-self: stretch;
}
