.container{
display: flex;

}
.Bha{
    display: flex;
    background-color: azure;
    margin: 10px;
    flex-direction: column;
    }
    .str1{
        align-self: center;
        color: blueviolet;
        margin: 5px;
    }
    .Photo{
        height: 30opx;
        width: 300px;
        
    }
